
<h1>About us</h1>

<p>Working on the Grubseekr beta version with One Month Rails</p>
<p>Grubseekr is a site that enables you to locate and review local street food and pop-up restaurants.</p>
<p>Pop-up restaurants and food trucks allow talented chefs to showcase their menu without having a permanent location. Owners will often use social media to update their location schedule and menus. Grubseekr will allow foodies to find local pop-ups and post reviews about their experience.</p>
<p>Follow us on our journey and look for our first review coming soon!</p>


